.object {
  border: 2px solid #000;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 200px;
  height: 200px;
  background-color: #ef4a4a;
  /*Set how the transformation should happen*/
  transition: transform 300ms ease-in-out;

}

/*Actual Animation that occurs when clicked on*/
.object:active {
  transform: translate(200px, 150px) rotate(20deg);
  //border-radius: 50%;
}

// Set an Object as a Container
.object2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 200px;
  height: 200px;
  border: 10px solid #000;
  background-color: #ccffcc;
}
//Place another object inside the container
.innerObject {
  border: 2px solid #000;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 200px;
  height: 200px;
  background-color: #3b709a;
  transition: transform 300ms ease-in-out;
  // This makes no hover/click events possible for the inner element
  pointer-events: none;
}
// Animate the inner object when its container is hovered over
.object2:hover .innerObject {
  transform: translate(500px, -200px) rotate(20deg);
}


// Create another container
.object3 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 200px;
  height: 200px;
  border-radius: 15%;
  border: 10px solid #000;
  background-color: #f16622;
}
// Put a ball inside the container
.ball {
  border: 2px solid #000;
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #779d3f;
  transition: transform 300ms ease-in-out;
  //Used with keyframes
  //animation: growBall 2s ease-in-out 0s infinite
}

// When the ball has class 'moving' it will animate
.ball.moving {
  transform: translate(0, -300px) rotate(90deg);
}
// Same for growing class
.ball.growing {

  //animation: growBall 2s ease-in-out 0s infinite

  // Alternatively
  animation-name: growBall;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s; //delay after activation
  animation-iteration-count: infinite; //repeats
  animation-direction: alternate; //can 'reverse' it or 'normal'
  animation-fill-mode: normal;
  animation-play-state: running;

  //Using JS when clicked on, paused class is added and animation is paused
  &.paused {
    animation-play-state: paused;
  }
}

// Add button that will be used in js to toggle 'moving' class on ball
#btn1 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 10;
  height: 50;
  font-size: 24pt;
}

// Add button that will use keyframes
#btn2 {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 10;
  height: 50;
  font-size: 24pt;
}

// Key Frames Template
@keyframes name {
  from {
  // styles before
  }
  to {
  // styles after
  }
}

//Percentage represents the stage of the animation

@keyframes growBall {
  0% {
    height: 50px;
    width: 50px;
    background-color: #779d3f;
  }
  20%, 50% {
    height: 75px;
    width: 75px;
  }
  // Between 30% and 50%
  30%, 50% {
    border-top-left-radius: 0%;
  }
  50% {
    border: 20px solid #3b709a;
  }
  100% {
    height: 150px;
    width: 150px;
    background-color: #f8ed33;
  }
}


#btn3 {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 10;
  height: 50;
  font-size: 24pt;
}






.container {
  width: 700px; // Need to change these sizes, but using % causes bugs
  height: 700px;
  position: absolute;
  perspective: 100%;
  position: absolute;
  top: 5%;
  left: 5%;
  margin: 0 auto 40px;
  /*
-webkit-perspective: 1000px;
     -moz-perspective: 1000px;
       -o-perspective: 1000px;
          perspective: 1000px;*/


}






#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
}

#cube section {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border: 5px solid black;
}

#cube section.front {
  background-color: #000;
  color: #fff;
}

#cube section.back {
  background-color: #f8ed33;
  color: #000;
}

#cube section.top {
  background-color: #3b709a;
  color: #fff;
}

#cube section.bottom {
  background-color: #779d3f;
  color: #000;
}

#cube section.left {
  background-color: #f16622;
  color: #000;
}

#cube section.right {
  background-color: #ef4a4a;
  color: #fff;
}




#cube .front  {
  -webkit-transform: translateZ( 350px );
     -moz-transform: translateZ( 350px );
       -o-transform: translateZ( 350px );
          transform: translateZ( 350px );
}
#cube .back   {
  -webkit-transform: rotateX( -180deg ) translateZ( 350px );
     -moz-transform: rotateX( -180deg ) translateZ( 350px );
       -o-transform: rotateX( -180deg ) translateZ( 350px );
          transform: rotateX( -180deg ) translateZ( 350px );
}
#cube .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 350px );
     -moz-transform: rotateY(   90deg ) translateZ( 350px );
       -o-transform: rotateY(   90deg ) translateZ( 350px );
          transform: rotateY(   90deg ) translateZ( 350px );
}
#cube .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 350px );
     -moz-transform: rotateY(  -90deg ) translateZ( 350px );
       -o-transform: rotateY(  -90deg ) translateZ( 350px );
          transform: rotateY(  -90deg ) translateZ( 350px );
}
#cube .top {
  -webkit-transform: rotateX(   90deg ) translateZ( 350px );
     -moz-transform: rotateX(   90deg ) translateZ( 350px );
       -o-transform: rotateX(   90deg ) translateZ( 350px );
          transform: rotateX(   90deg ) translateZ( 350px );
}
#cube .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 350px );
     -moz-transform: rotateX(  -90deg ) translateZ( 350px );
       -o-transform: rotateX(  -90deg ) translateZ( 350px );
          transform: rotateX(  -90deg ) translateZ( 350px );
}

#cube.show-front {
  -webkit-transform: translateZ( -350px );
     -moz-transform: translateZ( -350px );
       -o-transform: translateZ( -350px );
          transform: translateZ( -350px );
}
#cube.show-back {
  -webkit-transform: translateZ( -350px ) rotateX( -180deg );
     -moz-transform: translateZ( -350px ) rotateX( -180deg );
       -o-transform: translateZ( -350px ) rotateX( -180deg );
          transform: translateZ( -350px ) rotateX( -180deg );
}
#cube.show-right {
  -webkit-transform: translateZ( -350px ) rotateY(  -90deg );
     -moz-transform: translateZ( -350px ) rotateY(  -90deg );
       -o-transform: translateZ( -350px ) rotateY(  -90deg );
          transform: translateZ( -350px ) rotateY(  -90deg );
}
#cube.show-left {
  -webkit-transform: translateZ( -350px ) rotateY(   90deg );
     -moz-transform: translateZ( -350px ) rotateY(   90deg );
       -o-transform: translateZ( -350px ) rotateY(   90deg );
          transform: translateZ( -350px ) rotateY(   90deg );
}
#cube.show-top {
  -webkit-transform: translateZ( -350px ) rotateX(  -90deg );
     -moz-transform: translateZ( -350px ) rotateX(  -90deg );
       -o-transform: translateZ( -350px ) rotateX(  -90deg );
          transform: translateZ( -350px ) rotateX(  -90deg );
}
#cube.show-bottom {
  -webkit-transform: translateZ( -350px ) rotateX(   90deg );
     -moz-transform: translateZ( -350px ) rotateX(   90deg );
       -o-transform: translateZ( -350px ) rotateX(   90deg );
          transform: translateZ( -350px ) rotateX(   90deg );
}

#cube section.hidden { // Dont think I need this now
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
  }




// use this with https://desandro.github.io/3dtransforms/docs/introduction.html
